.image-container{
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  #movingImage {
    position: absolute;
    transition: transform 0.2s ease-out;
    max-width: 600px;
    width: 45vw;
    height: auto;
    z-index: 2;
    top: 50%;
  }