  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 9998;
  }
  
  .container{
    display: block;
    box-shadow: 5px 0px 20px whitesmoke;
    border-radius: 5px;
    padding: 5px;
    background: rgba(0, 78, 0, 0.1);
    z-index: 3;
  }

  .container:hover{
    color: yellowgreen;
    box-shadow: 5px 0px 20px yellowgreen;
    background: rgba(0, 78, 0, 0.3);
    border: 1px solid yellowgreen;
  }

  h1 > span.fire:hover{
    color: rgb(205, 106, 35) !important;
  }
  
  canvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
  }
  
  *{
    cursor: none !important;
  }