body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: none; 
}
*{
  cursor: none !important;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
}
.popup{
  z-index:9998;
}